@media (min-width:801px){
    .article__with__image{
        display: flex;
        /*two columns in flex*/
        grid-gap: 0 100px;
    }
    .obrazky__reference{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav{
        position: absolute;
        background-color: var(--bg);
        margin-right: 125px;
        margin-left: 125px;
        margin-top: 40px;
        min-width: calc(100% - 280px);
    }

    .centrovani__textu{
        position: relative;
    }


    .centrovani__textu:hover .overlay {
        opacity: 1;
    }
    section{
        margin: 125px;
    }
    .section__without__space{
        margin: 0;
    }

    .article__with__image right{
        grid-column-start: 2;
    }
    .odrazky__oranzove{
        list-style: none;
        padding-left: 50px;
    }
    .article--reference {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /*flex reverse*/
    .reverse{
        flex-direction: row-reverse;
    }

    aside{
        flex: 1;
    }
    .hlavni_obsah{
        flex:1;
    }
    menu > li > a{
        color: var(--text--gray);
        text-decoration: none;
    }

    .article__background__image{
        padding-left: 145px;
        padding-right: 145px;
    }

    .article__margin{
        margin: 40px;
    }

    header{
        height: 100vh;
    }
    .header__next__page{
        height: 10em;
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../Media/pageheader-1920w.jpg");
        background-blend-mode: normal, normal, hue, normal;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .header___main__page{
        height: 100vh;
    }
    .center__text__on__pc{
        text-align: center;

    }
    .obrazky__reference > article:hover .overlay{
        position: absolute;
        background-color: var(--primary);
        opacity: 0.8;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 20px;
        color: var(--bg);
        font-size:20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }

    .overlay{
        width: 0;
        height: 0;
        font-size: 0;
    }

    .index__h1{
        font-size: 120px;
    }

    .velky_a_tucny{
        font-size: 3em;
    }

    .article__background__image > p{
        font-size: 1.5em;
    }

    .article__title{
        margin: 125px;
    }

}