@media (min-width:760px){

    .article__with__image{
        display: flex;
        /*two columns in flex*/
        grid-gap: 0 50px;
    }
    .obrazky__reference{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

    }


    .centrovani__textu{
        position: relative;
    }


    .centrovani__textu:hover .overlay {
        opacity: 1;
    }
    .section__without__space{
        margin: 0;
    }

    .article__with__image .right{
        grid-column-start: 2;
    }
    .odrazky__oranzove{
        list-style: none;
        padding-left: 50px;
    }
    .article--reference {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        justify-content: center;
        height: max-content;

    }

    /*flex reverse*/
    .reverse{
        flex-direction: row-reverse;
    }

    aside{
        flex: 1;
    }
    .hlavni_obsah{
        flex:1;
    }


    .article__margin{
        margin: 40px;
    }

    header{
        background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../Media/pageheader-1920w.jpg");
        background-position: center;
        height: 60rem;
    }
    .header__next__page{
        height: 5em;
    }
    .header___main__page{
        height: 64rem;
    }
    .center__text__on__pc{
        text-align: center;

    }
    .obrazky__reference > article:hover .overlay{
        /*je to u obrazku, takže tady si dovolím použít width 100% i když to není přímo obráze. V případě lepšího řešení budu rád za zpětnou vazbu*/
        position: absolute;
        background-color: var(--primary);
        opacity: 0.8;
        width: calc(100% - 2.5rem);
        height: calc(100% - 2.5rem);
        top: 1.25rem;
        color: var(--bg);
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .obrazky__reference > article:hover .overlay p{
        font-size: 15px;
    }


    .overlay{
        width: 0;
        height: 0;
        font-size: 0;
    }

    .overlay > p{
        font-size: 0;
    }


    .velky_a_tucny{
        font-size: 3em;
    }

    .article__background__image > p{
        font-size: 1.5em;
    }

    .article__title{
        margin: 125px;
    }

    .kontakt__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 100px;
    }
    .button__header{
        display: inline-block;
        margin-bottom: 300px;
    }

    .button__header:after{
        content: url("../Media/icons/icon--arrow.svg");
    }

    .header__items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 961px){
    .article--reference{
        grid-template-columns: repeat(3, 1fr);
    }
    .header__next__page{
        height: 10em;
    }
    .index__h1{
        font-size: 7rem;
    }
    .subheading{
        font-size: 3.5rem;
    }


    nav{
        position: absolute;
        background-color: var(--bg);
        margin-left: var(--maly__notebook__odsaznie);
        margin-top: 40px;
        min-width: calc(100% - 8rem);
    }
    menu > li > a{
        color: var(--text--gray);
        text-decoration: none;
    }

    article{
        padding-left: var(--maly__notebook__odsaznie);
        padding-right: var(--maly__notebook__odsaznie);
    }
    .obrazky__reference > article:hover .overlay{
        width: calc(100% - 2.5rem);
        height: calc(100% - 2.5rem);
    }
    .article__reference{
        padding: 0;
    }
    .section__reference{
        padding-left: var(--maly__notebook__odsaznie);
        padding-right: var(--maly__notebook__odsaznie);
    }
    .obrazky__reference > article:hover .overlay{
        /*tady beru, že to je jako u obrázku, takže tady je to pochopitelné použítí width 100%*/
        width: 100%;
        height: 100%;
        top: 0;
    }
}

@media (min-width: 1281px){

    /*člověk si může nastavit velikost odsazeni buď sám, nebo že si to zadá v html. Zvažoval jsem udělat třídu indentation, ale nechtělo se mi to tam pořád psát*/
    article{
        padding-left: var(--pocitac__odsazeni);
        padding-right: var(--pocitac__odsazeni);
    }
    nav{
        margin-left: var(--pocitac__odsazeni);
        min-width: calc(100% - 2*var(--pocitac__odsazeni));
    }
    .section__reference{
        padding-left: var(--pocitac__odsazeni);
        padding-right: var(--pocitac__odsazeni);
    }
}

