nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--bg);
}

menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}

menu > li {
    padding: 0 1rem;
    overflow: hidden;
    height: 90px;
    width: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
}

menu > li:hover {
background-color: var(--primary);
    transition: 300ms;
}
menu > li:hover a{
    color: var(--bg);
    transition: 300ms;
}
menu > li > a{
    color: var(--bg);
    text-decoration: underline;
}

.a__active{
    color: var(--bg);
}

.li__active{
    background-color: var(--primary);
}


.menu-button-container {
    display: none;
    width: 70px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#menu-toggle {
    display: none;
}


.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background: var(--text) linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
    height: 8px;
    width: 46px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
}

.menu-button::before {
    content: "";
    margin-top: -13px;
}

.menu-button > p{
    position: absolute;
    right: -2px;
    top: -50px;
    color: var(--text);
}

.menu-button::after {
    content: "";
    margin-top: 13px;
}

.menu:hover{
    background-color: var(--primary);
}

@media (max-width: 800px) {
    .menu-button-container {
        display: flex;
    }

    menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ menu li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    menu > li {
        display: flex;
        justify-content: left;
        margin: 0;
        padding: 0.5em 0;
        width: calc(100% - 40px);
        background-color: var(--primary);
    }
    menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
    #menu-toggle:checked ~ menu::before{
        content: "";
        width: 0;
        height: 0;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 20px solid var(--primary);
        top: -19px;
        right: 20px;
        position: absolute;
    }
}

@media (min-width: 1920px) {
    nav{
        margin: 40px;
        min-width: calc(100% - 110px);
    }

}