html {
    scroll-behavior: smooth;
}
:root{
    --primary: #EB6C27;
    --text: #3a3a3a;
    --bg: #FFFFFF;
    --text--gray: #888888;
}

.article__background__image{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../Media/background-CTAblock-4460w.jpg);
    background-size: cover;
    min-height: 300px;
    color: var(--bg);
}

article{
    padding: 20px;
}

footer{
    background-color: var(--primary);
    padding: 20px;
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h2 span{
    color: var(--primary);
}
body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;

    display: block;
    padding: 0;
    margin: 0;
    object-fit: cover;


}

header h1{
    position: absolute;
    bottom: 10%;
    padding: 20px;
    width: calc(100% - 40px);
    text-align: center;
    color: var(--bg);
}

header p{
    position: absolute;
    bottom: 5%;
    padding: 20px;
    width: calc(100% - 40px);
    text-align: center;
    color: var(--bg);
}

header {
    position: relative;
}


.image__left{
    border-radius: 0 0 40px 0;
}

.image__right{
    border-radius: 0 0 0 40px;
}

.button__outline {
    background:none;
    border:none;
    outline-style: dashed;
    color: var(--primary);
    margin:0;
    padding:0;
    cursor: pointer;
    width: 170px;
    height: 40px;
}

.button__normal{
    background-color: var(--primary);
    cursor:pointer;
    border:none;
    width: 170px;
    height: 41px;
    color: var(--bg);
}

.button__footer{
    background-color: var(--bg);
    cursor:pointer;
    border:none;
    width: 340px;
    height: 80px;
    color: var(--primary);
}

.centrovani__textu{
    text-align: center;
}

.centrovani__elementu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.odrazky__oranzove{
    list-style: none;
    padding: 1em;
}

.odrazky__oranzove li::before {
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.velky_a_tucny{
    font-size: 22px;
}


.button__header{
    font-size: 0;

}

section{
    padding-bottom: 40px;
}

header{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../Media/pageheader-1920w.jpg");
    background-blend-mode: normal, normal, hue, normal;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header___main__page{
    height: 50vh;
}
.obrazky__reference > article:hover .overlay{
    position: absolute;
    background-color: var(--primary);
    opacity: 0.8;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    color: var(--bg);
    font-size:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.overlay{
    width: 0;
    height: 0;
    font-size: 0;
    text-decoration: none;
}





