html {
    scroll-behavior: smooth;
}
body
{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
p{
    font-size: 1rem;
}
:root{
    --primary: #EB6C27;
    --text: #3a3a3a;
    --bg: #FFFFFF;
    --text--gray: #888888;
    --mobilni__odsazeni: 1.25rem;
    --tabletove__odsazeni: 1.25rem;
    --maly__notebook__odsaznie: 4rem;
    --pocitac__odsazeni: 12rem;
}

.article__background__image{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../Media/background-CTAblock-4460w.jpg);
    background-size: cover;
    min-height: 200px;
    color: var(--bg);
}

article{
    padding: var(--mobilni__odsazeni);
}

footer{
    background-color: var(--primary);
    padding: var(--mobilni__odsazeni);
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h2 span{
    color: var(--primary);
}
body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;

    display: block;
    padding: 0;
    margin: 0;
    object-fit: cover;
    /*ahoj*/


}

header {
    position: relative;
}


.image__left{
    border-radius: 0 0 40px 0;
}

.image__right{
    border-radius: 0 0 0 40px;
}

.button__outline {
    background:none;
    border:none;
    outline-style: dashed;
    color: var(--primary);
    margin:0;
    padding:0;
    width: 170px;
    height: 40px;
}

.button__normal{
    background-color: var(--primary);
    border:none;
    width: 170px;
    height: 41px;
    color: var(--bg);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button__footer{
    background-color: var(--bg);
    border:none;
    width: 340px;
    height: 80px;
    color: var(--primary);
}

.centrovani__textu{
    text-align: center;
}

.centrovani__elementu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.odrazky__oranzove{
    list-style: none;
    padding: 1em;
}

.odrazky__oranzove li::before {
    content: "\2022";
    color: var(--primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

header{
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../Media/pageheader-1920w_mobil.jpg");
    background-blend-mode: normal, normal, hue, normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header___main__page{
    height: 30rem;
}


button > a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.overlay{
    text-decoration: none;
    color: var(--text)
}

.velky_a_tucny{
    font-weight: bold;
    font-size: 1.3rem;
}

.span__orange{
    color: var(--primary)
}

.index__h1{
    font-size: 2rem;
    color: var(--bg);
    text-align: center;
}

.button__outline > a{
    color: var(--primary)
}



.nadpis__h1__other__page{
    font-size: 3rem;
}


label {
    font-weight: 800;
}

input[type=text], select, textarea{

    font-weight: 800;
    padding: 12px;
    border: 1px solid #EB6C27;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    flex: 1;
    resize: vertical
}
textarea{
    /*už jsem vážně nevěděl*/
    width: 100%;
}

input[type=submit] {
    background-color: #EB6C27;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 19em;
    padding: 1.5em;
}

input[type=submit]:hover {
    background-color: #c9571a;
}


.icon-dot{
    position: absolute;
    top: -1.5rem;
    left: -4rem;
}
.icon-dot--phone::before {
    content: url("../Media/icons/phone.svg ");

}
.icon-dot--mail::before {
    content: url("../Media/icons/email.svg");
}
.icon-dot--position::before {
    content: url("../Media/icons/map.svg");
}

.contact__icons{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.contacts__description{
    position: relative;
}

.image__height{
    max-height: 307px;
}

.subheading::before {
    content: "\A";
    white-space: pre;
}

.subheading{
    font-size: 1.25rem;
    font-weight: 300;
}

.button__header{
    display: none;
}

.header__items{
    height: inherit;
    position: relative;
    top: 250px;
}

figure{
    margin: 0;
}

section{
    margin-top: 2em;
    margin-bottom: 2em;
}

h2{
    font-size: 1.25rem;
}

form{
    display: flex;
    flex-direction: column;
}

.max__text__align{
    max-width: 1000px;
    margin: 0 auto;
}
.max__text__align{
    padding-bottom: 20px;
}

.odrazky__oranzove li{
    padding-top:0.5rem;
}

.article--reference{
    gap: 1rem
}